[Unit]
Description=Initialize service to run amd
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p --context=User::Home /run/amd/
ExecStart=/bin/chmod go+w /run/amd/

[Install]
WantedBy=default.target
