[Unit]
Description=Initialize service to run amd
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p -Z User::Home -m go+w /run/aul

[Install]
WantedBy=default.target
