#
#  Systemd script to Launch AMD
#

[Unit]
Description=Start Application Management Daemon
Requires=dbus.service
After=dbus.service

[Service]
Type=notify
EnvironmentFile=-/run/tizen-system-env
ExecStartPre=-/usr/bin/mkdir -p /run/aul/daemons/%U
ExecStartPre=-/usr/bin/chmod 0777 /run/aul/daemons/%U
ExecStart=/usr/bin/amd

OOMScoreAdjust=-100

[Install]
WantedBy=default.target
